[submodule "src/maestro/GMAS-elmo-lib"]
	path = src/maestro/GMAS-elmo-lib
	url = git@github.com:20niship/GMAS-elmo-lib.git
[submodule "src/maestro/external/cpptoml"]
	path = src/maestro/external/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "src/maestro/external/spdlog"]
	path = src/maestro/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/pc/hr4c/cpptoml"]
	path = src/pc/hr4c/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "src/pc/hr4c/spdlog"]
	path = src/pc/hr4c/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/pc/hr4c/implot"]
	path = src/pc/hr4c/implot
	url = https://github.com/epezent/implot.git
[submodule "src/pc/hr4c/imgui"]
	path = src/pc/hr4c/imgui
	url = https://github.com/ocornut/imgui.git
